<div class="container">
	<h1>Профиль пользователя</h1>
	<form novalidate #userForm="ngForm">
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="login" name="login" [(ngModel)]="user.login" #login="ngModel" required>
				<label for="login">Логин</label>
			</div>
			<validation-messages *ngIf="login.invalid" [control]="login"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="surname" name="surname" [(ngModel)]="user.surname" #surname="ngModel" required>
				<label for="surname">Фамилия 1</label>
			</div>
			<validation-messages *ngIf="surname.invalid" [control]="surname"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required>
				<label for="name">Имя</label>
			</div>
			<validation-messages *ngIf="name.invalid" [control]="name"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="patronymic" name="patronymic" [(ngModel)]="user.patronymic" #patronymic="ngModel" required>
				<label for="patronymic">Отчество</label>
			</div>
			<validation-messages *ngIf="patronymic.invalid" [control]="patronymic"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="phone" name="phone" [(ngModel)]="user.phone" #phone="ngModel" required>
				<label for="phone">Телефон</label>
			</div>
			<validation-messages *ngIf="phone.invalid" [control]="phone"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
				<label for="email">Email</label>
			</div>
			<validation-messages *ngIf="email.invalid" [control]="email"></validation-messages>
		</div>
		<div class="row">
			<button [disabled]="userForm.invalid" (click)="onSaveBtnClick()" color="accent">Сохранить</button>
		</div>
	</form>
</div>