<p-dataTable [value]="entities.list" [rows]="entities.pageSize" [paginator]="true" [pageLinks]="10" [totalRecords]="entities.count" [lazy]="true"
			 resizableColumns="true" [(selection)]="entities.selectedEntity" dataKey="id"
			 (onPage)="onPage($event)" (onSort)="onSort($event)">
	<p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
	<p-column field="id" header="id" [sortable]="true"></p-column>
	<p-column field="name" header="name" [sortable]="true"></p-column>
</p-dataTable>


<div class="">
	<button [disabled]="!entities.selectedEntity" (click)="goToEntityInstances()">Перейти</button>
</div>
