<p-dataTable *ngIf="fields.identityEntityInstanceFieldName" [value]="entityInstances.list" [rows]="entityInstances.pageSize" [paginator]="true" [totalRecords]="entityInstances.count" [lazy]="true"
			 resizableColumns="true" [(selection)]="entityInstances.selectedEntityInstance" [dataKey]="fields.identityEntityInstanceFieldName"
			 (onPage)="onPage($event)" (onSort)="onSort($event)">
	<p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
	<p-column *ngFor="let field of fields.list" [field]="getEntityInstanceFieldName(field.id)" [header]="field.name" [sortable]="true"></p-column>
</p-dataTable>


<div class="">
	<button (click)="goCreateForm()">Добавить</button>
	<button [disabled]="!entityInstances.selectedEntityInstance" (click)="goEditForm()">Редактировать</button>
	<button [disabled]="!entityInstances.selectedEntityInstance" (click)="deleteEntityInstance()">Удалить</button>
</div>
