@import 'main';

.admin-panel {
    display: flex;
    flex-direction: column;
}

.admin-panel_tabpanel {
    flex: 0 1 auto;
}

.admin-panel_link {
    text-decoration: none;
}

.admin-panel_link__is-active {
    color: primary-color(500);
}

.admin-panel_content {
    flex: 1 1 auto;
}