<div *ngFor="let e of entities" (click)="onShowEntityInstancesClick(e.id)">{{e.name}}</div>

<td-data-table #dataTable
			   [data]="entityInstances.list"
			   [columns]="fields.entityInstanceFieldsList"
			   [selectable]="true"
			   [clickable]="true"
			   [multiple]="false"
			   [sortable]="true"
			   [compareWith]="entityInstances.rowCompareFunction"
			   [sortBy]="entityInstances.sortBy"
			   [(ngModel)]="entityInstances.selectedEntityId"
			   [sortOrder]="entityInstances.sortingOrder"
			   (sortChange)="onTableSortChange($event)">
</td-data-table>
<td-paging-bar #pagingBar [pageSizes]="[1, 5, 10, 15, 20]" [pageSize]="entityInstances.pageSize" [total]="entityInstances.count" (change)="onTablePageChange($event)">
	<span td-paging-bar-label hide-xs>по:</span>
	{{pagingBar.range}} <span hide-xs>из {{pagingBar.total}}</span>
</td-paging-bar>
<div class="">
	<button md-raised-button (click)="goToCreateForm()">Добавить</button>
	<button md-raised-button [disabled]="entityInstances.selectedEntityId.length != 1" (click)="goEditForm()">Редактировать</button>
	<button md-raised-button [disabled]="entityInstances.selectedEntityId.length != 1" (click)="deleteField()">Удалить</button>
</div>
