<div class="container">
    <h1>Профиль пользователя</h1>
    <form novalidate #userForm="ngForm">

        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Логин" id="login" name="login" [(ngModel)]="user.login" #login="ngModel" required />
            </md-input-container>
            <md-error *ngIf="login.invalid">
                <validation-messages [control]="login"></validation-messages>
            </md-error>
        </div>
        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Имя" id="name" name="name" [(ngModel)]="user.name" #name="ngModel" required />
            </md-input-container>
            <md-error *ngIf="name.invalid">
                <validation-messages [control]="name"></validation-messages>
            </md-error>
        </div>
        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Фамилия" id="surname" name="surname" [(ngModel)]="user.surname" #surname="ngModel" required />
            </md-input-container>
            <md-error *ngIf="surname.invalid">
                <validation-messages [control]="surname"></validation-messages>
            </md-error>
        </div>
        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Отчество" id="patronymic" name="patronymic" [(ngModel)]="user.patronymic" #patronymic="ngModel" />
            </md-input-container>
            <md-error *ngIf="patronymic.invalid">
                <validation-messages [control]="patronymic"></validation-messages>
            </md-error>
        </div>
        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Телефон" id="phone" name="phone" [(ngModel)]="user.phone" #phone="ngModel" />
            </md-input-container>
            <md-error *ngIf="phone.invalid">
                <validation-messages [control]="phone"></validation-messages>
            </md-error>
        </div>
        <div class="row">
            <md-input-container color="accent">
                <input mdInput placeholder="Email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required />
            </md-input-container>
            <md-error *ngIf="email.invalid">
                <validation-messages [control]="email"></validation-messages>
            </md-error>
        </div>

    </form>
</div>