<form novalidate #fieldForm="ngForm">
	<div class="vertical-form">
		<div class="vertical-form-column">
			<div class="ui-float-label">
				<input pInputText id="name" name="name" [(ngModel)]="field.name" #name="ngModel" required>
				<label for="name">Название поля</label>
			</div>
			<validation-messages *ngIf="name.invalid" [control]="name"></validation-messages>
		</div>
		<div class="vertical-form-column">
			<div class="ui-float-label">
				<input pInputText id="databaseName" name="databaseName" [(ngModel)]="field.databaseName" #databaseName="ngModel" required>
				<label for="databaseName">Название поля в базе данных</label>
			</div>
			<validation-messages *ngIf="databaseName.invalid" [control]="databaseName"></validation-messages>
		</div>
		<div class="vertical-form-column">
			<p-dropdown [options]="fieldTypes" [dataKey]="id"
						placeholder="Тип данных" id="_FieldTypeId" name="_FieldTypeId" [(ngModel)]="field._FieldTypeId" #_FieldTypeId="ngModel" required></p-dropdown>
			<validation-messages *ngIf="_FieldTypeId.invalid" [control]="_FieldTypeId"></validation-messages>
		</div>

		<div class="vertical-form-column">
			<p-checkbox id="isIdentity" name="isIdentity" [(ngModel)]="field.isIdentity" #isIdentity="ngModel" binary="true" label="Идентификатор сущности"></p-checkbox>
			<md-error *ngIf="isIdentity.invalid">
				<validation-messages [control]="isIdentity"></validation-messages>
			</md-error>
		</div>
		<div class="">
			<button [disabled]="fieldForm.invalid" (click)="saveField()">Сохранить</button>
			<button (click)="goBack()">Отмена</button>
		</div>
	</div>
</form>