<div class="root" style="width: 100%; min-height: 100vh; display: flex; flex-direction: column; overflow-x: hidden;">
    <div class="header">
        <md-toolbar color="primary">
            <a class="" href="#"><span>Приложуха</span></a>

            <span class="example-fill-remaining-space"></span>
            <ul class="" style="display: flex; flex-direction: row; list-style: none; margin: 0; padding: 0;">
                <li><a routerLink="login" routerLinkActive="is-active" style="text-decoration: none; padding: 5px;">Логинка</a></li>
                <li><a routerLink="register" routerLinkActive="is-active" style="text-decoration: none; padding: 5px;">Регистрация</a></li>
            </ul>
        </md-toolbar>
    </div>
    <div class="base" style="width: 100%; flex: 1 1 100%">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        Copyright
    </div>
    <toast></toast>
</div>