<form novalidate #entityForm="ngForm">
	<div class="vertical-form">
		<div class="vertical-form-column">
			<div class="ui-float-label">
				<input pInputText id="name" name="name" [(ngModel)]="entity.name" #name="ngModel" required>
				<label for="name">Название сущности</label>
			</div>
			<validation-messages *ngIf="name.invalid" [control]="name"></validation-messages>
		</div>

		<div class="vertical-form-column">
			<div class="ui-float-label">
				<input pInputText id="databaseName" name="databaseName" [(ngModel)]="entity.databaseName" #databaseName="ngModel" required>
				<label for="databaseName">Название сущности в базе данных</label>
			</div>
			<validation-messages *ngIf="databaseName.invalid" [control]="databaseName"></validation-messages>
		</div>

		<div class="vertical-form-column">
			<div class="ui-float-label">
				<input pInputText id="databaseScheme" name="databaseScheme" [(ngModel)]="entity.databaseScheme" #databaseScheme="ngModel" required>
				<label for="databaseScheme">Схема в базе данных</label>
			</div>
			<validation-messages *ngIf="databaseScheme.invalid" [control]="databaseScheme"></validation-messages>
		</div>

		<div class="">
			<button [disabled]="entityForm.invalid" (click)="saveEntity()">Сохранить</button>
			<button (click)="goBack()">Отмена</button>
		</div>
	</div>
</form>