<td-data-table #dataTable
			   [data]="entities.list"
			   [columns]="[{ name: 'id', label: 'id'}, { name: 'name', label: 'name'}]"
			   [selectable]="true"
			   [compareWith]="entities.rowCompareFunction"
			   [clickable]="true"
			   [multiple]="false"
			   [sortable]="true"
			   [sortBy]="entities.sortBy"
			   [(ngModel)]="entities.selectedEntityId"
			   [sortOrder]="entities.sortingOrder"
			   (sortChange)="onTableSortChange($event)">
</td-data-table>
<td-paging-bar #pagingBar [pageSizes]="[1, 5, 10, 15, 20]" [pageSize]="entities.pageSize" [total]="entities.count" (change)="onTablePageChange($event)">
	<span td-paging-bar-label hide-xs>по:</span>
	{{pagingBar.range}} <span hide-xs>из {{pagingBar.total}}</span>
</td-paging-bar>

<p-dataTable [value]="entities.list" [rows]="entities.pageSize" [paginator]="true" [pageLinks]="10" [rowsPerPageOptions]="[5,10,20]" [totalRecords]="entities.count">
	<p-column field="id" header="id"></p-column>
	<p-column field="name" header="name"></p-column>
</p-dataTable>


<button md-raised-button color="accent" [disabled]="entities.selectedEntityId.length != 1" (click)="goEditEntity()">Редактировать</button>
<button md-raised-button color="accent" (click)="goCreateEntity()">Новая</button>
<button md-raised-button color="accent" [disabled]="entities.selectedEntityId.length != 1" (click)="deleteEntity()">Удалить</button>