<div class="">
    <div class="">
        <div class="">
            Название сущности: {{entity.name}}
        </div>
        <div class="">
            Название сущности в базе данных: {{entity.databaseName}}
        </div>
        <div class="">
            Схема в базе данных: {{entity.databaseScheme}}
        </div>
    </div>
    <div class="">
        <button md-raised-button (click)="goEditEntity()">Редактировать</button>
        <button md-raised-button (click)="goBack()">Отмена</button>
    </div>
    <h3>Поля сущности</h3>
    <div class="">
        <ng2-md-datatable selectable="true" (sortChange)="onTableSortChange($event)" (selectionChange)="onTableSelectionChange($event)">
            <ng2-md-datatable-header>
                <ng2-md-datatable-column sortableValue="id">ID</ng2-md-datatable-column>
                <ng2-md-datatable-column sortableValue="name">Name</ng2-md-datatable-column>
            </ng2-md-datatable-header>
            <tbody>
                <ng2-md-datatable-row *ngFor="let e of fields" selectableValue="{{e.id}}">
                    <td>{{e.id}}</td>
                    <td>{{e.name}}</td>
                </ng2-md-datatable-row>
            </tbody>
        </ng2-md-datatable>
        <div class="">
            <button md-raised-button [disabled]="!selectedFieldId" (click)="goViewField()">Редактировать</button>
        </div>
    </div>

</div>