<div class="container">
	<h1>{{ "login" | translate }}</h1>
	<form novalidate #loginForm="ngForm" *ngIf="!isAuthenticated()">

		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="login" name="login" [(ngModel)]="userLoginModel.login" #login="ngModel" required>
				<label for="login">Логин</label>
			</div>
			<validation-messages *ngIf="login.invalid" [control]="login"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="password" name="password" [(ngModel)]="userLoginModel.password" #password="ngModel" required>
				<label for="password">Логин</label>
			</div>
			<validation-messages *ngIf="password.invalid" [control]="password"></validation-messages>
		</div>

		<div class="row">
			<button [disabled]="loginForm.invalid" (click)="doLogin()" color="accent">Войти</button>
		</div>
	</form>
</div>