<div class="container">
	<h1>Регистрация</h1>
	<form novalidate #registrationForm="ngForm">
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="login" name="login" [(ngModel)]="userLoginModel.login" #login="ngModel" required>
				<label for="login">Логин</label>
			</div>
			<validation-messages *ngIf="login.invalid" [control]="login"></validation-messages>
		</div>
		<div class="row">

			<div class="ui-float-label">
				<input pInputText id="password" name="password" [(ngModel)]="userLoginModel.password" #password="ngModel" required>
				<label for="password">Пароль</label>
			</div>
			<validation-messages *ngIf="password.invalid" [control]="password"></validation-messages>
		</div>
		<div class="row">
			<div class="ui-float-label">
				<input pInputText id="repeatPassword" name="repeatPassword" [(ngModel)]="userLoginModel.repeatPassword" #repeatPassword="ngModel" required [equalTo]="password">
				<label for="repeatPassword">Повторите пароль</label>
			</div>
			<validation-messages *ngIf="repeatPassword.invalid" [control]="repeatPassword"></validation-messages>
		</div>

		<div class="row">
			<button [disabled]="registrationForm.invalid" (click)="doRegister()">Войти</button>
		</div>
	</form>
</div>