<div class="">
	<div class="">
		<div class="">
			Название сущности: {{entity.name}}
		</div>
		<div class="">
			Название сущности в базе данных: {{entity.databaseName}}
		</div>
		<div class="">
			Схема в базе данных: {{entity.databaseScheme}}
		</div>
	</div>
	<div class="">
		<button (click)="goEditEntity()">Редактировать</button>
		<button (click)="goBack()">Отмена</button>
	</div>
	<h3>Поля сущности</h3>
	<div class="">

		<p-dataTable [value]="fields.list" [rows]="fields.pageSize" [paginator]="true" [pageLinks]="10" [totalRecords]="fields.count" [lazy]="true"
					 resizableColumns="true" [(selection)]="fields.selectedField" dataKey="id"
					 (onPage)="onPage($event)" (onSort)="onSort($event)">
			<p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
			<p-column field="id" header="id" [sortable]="true"></p-column>
			<p-column field="name" header="name" [sortable]="true"></p-column>
		</p-dataTable>

		<div class="">
			<button (click)="goCreateField()">Добавить</button>
			<button [disabled]="!fields.selectedField" (click)="goViewField()">Редактировать</button>
			<button [disabled]="!fields.selectedField" (click)="deleteField()">Удалить</button>
		</div>
	</div>

</div>